* {
  margin: 0;
  padding: 0;
}

.navbar-section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 10vh;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 24px;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.left-logo-name {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
}
.nav-list > a {
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  color: white;
  margin-right: 15px;
}

.nav-list a:hover {
  text-decoration: underline;
}

.nav-list a:active {
  text-decoration: underline !important;
}
.collapse-nav {
  display: none;
}

#home {
  position: relative;
  padding-top: 10vh;
}

#home > img {
  height: 100vh;
  width: 100%;
}

#home h4 {
  position: absolute;
  top: 150px;
  left: 50px;
  font-weight: 900;
  font-size: 70px;
  color: white;
}

#home p {
  position: absolute;
  top: 240px;
  left: 50px;
  font-size: 25px;
  color: white;
}

.scroll-down {
  position: absolute;
  top: 450px;
  left: 50px;
  color: white;
  font-size: 30px;
}

#about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* margin-top: 70px; */
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 100px;
}

.about-left > img {
  height: 465px;
  width: 445px;
}

.about-right {
  margin-left: 30px;
}
.about-right > h5 {
  font-weight: 600;
  font-size: 2rem;
}

.about-right > p {
  font-size: 19px;
  font-weight: 400;
}

.about-right > span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;
  margin-top: 10px;
}

.social-buttons button {
  border-radius: 50%;
  border: none;
  height: 32px;
  width: 32px;
  padding: 5px;
  margin-top: 30px;
  margin-right: 15px;
  background: rgb(0, 0, 0);
}

.social-buttons > button img:hover {
  /* background-color: rgb(0, 0, 0); */
  filter: invert(0);
}
.social-buttons > button:hover {
  background-color: white;
  border: 2px solid black;
}

.social-buttons > button img {
  height: 20px;
  filter: invert(1);
}

.about-right > a > button {
  margin: 30px 0 0 0;
  width: 140px;
  height: 51px;
  padding: 10px 20px 10px 20px;
  border: none;
  background-color: black;
  color: white;
  font-size: 13px;
  font-weight: 600;
  border-radius: 5px;
}
.about-right > a > button:hover {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}

#resume {
  background-color: #f2f2f2;
  margin-top: 50px;
  padding: 70px 0 50px 0;
}

#services {
  background-color: #fff;
  margin-top: 50px;
  padding: 70px 0 50px 0;
}

.services-heading p {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0 10px 0;
}
.services-heading h2 {
  font-size: 2rem;
  font-weight: 600;
}

.card > img {
  height: 50px;
}

.card {
  margin: 15px;
  padding: 25px 0 10px 0;
}

.card-title {
  font-weight: 700;
  font-size: 18px;
}
.card-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 15px;
}

.service-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

#projects {
  background-color: #f2f2f2;
  margin-top: 50px;
  padding: 70px 0 50px 0;
}

.project-buttons {
  color: white;
  font-weight: 600;
  font-size: 13px;
  width: 150px;
}

.project-buttons:hover {
  background-color: #fff;
  color: black;
  border: 1px solid black;
}

.resume-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
}

#blog {
  background-color: #fff;
  margin-top: 50px;
  padding: 70px 0 50px 0;
}

#blog .card > img {
  height: 150px;
  padding: 0;
  margin: 0;
}

#blog .card {
  padding: 0;
}

#contact {
  background-color: #f2f2f2;
  margin-top: 50px;
  margin-bottom: 0;
  padding: 70px 0 100px 0;
}

.geo-location {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 0;
  margin: 50px 100px 50px 100px;
}

.geo-class-img {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.name-email {
  justify-content: space-around;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.input-style {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
  width: 500px;
}

input[type="email"]::placeholder {
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 10px;
  background-color: #f2f2f2;
}
input[type="text"]::placeholder {
  text-align: left;
  padding: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f2f2f2;
}

input:focus {
  outline: none;
}

.text-area {
  margin-top: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
  width: 100%;
  margin-left: 20px;
  background-color: #f2f2f2;
}

textarea::placeholder {
  padding: 0 10px 0 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f2f2f2;
}

textarea:focus {
  outline: none;
}

.footer-page {
  background-color: black;
  /* margin-top: 50px; */
  padding: 70px 0 50px 0;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer {
  margin-left: 50px;
  margin-right: 50px;
  color: white;
}

footer h6 {
  font-size: 1rem;
  font-weight: 700;
}

footer p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  margin-bottom: 15px;
}

.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media (max-width: 750px) {
  * {
    margin: 0;
  }
  body {
    margin: 0;
  }
  #about {
    display: grid;
    grid-template-columns: 1fr;
    /* margin-top: 70px; */
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 100px;
  }
  .about-left > img {
    display: none;
    height: 465px;
    width: 445px;
  }

  .about-right {
    margin-left: 30px;
  }
  .about-right > h5 {
    font-weight: 600;
    font-size: 2rem;
  }

  .about-right > p {
    font-size: 19px;
    font-weight: 400;
  }

  .about-right > span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
    margin-top: 10px;
  }

  #services {
    background-color: #fff;
    margin-top: 50px;
    padding: 100px 0 50px 0;
  }

  .services-heading p {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 0 10px 0;
  }
  .services-heading h2 {
    font-size: 2rem;
    font-weight: 600;
  }

  .card > img {
    height: 50px;
  }

  .card {
    margin: 15px;
    padding: 25px 0 10px 0;
  }

  .card-title {
    font-weight: 700;
    font-size: 18px;
  }
  .card-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
  }

  .service-cards {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .footer-top {
    display: flex;
    flex-direction: column;
  }
  footer p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 15px;
    margin-bottom: 30px;
  }
  .nav-list > a {
    display: none;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    color: white;
    margin-right: 15px;
  }
  #home h4 {
    position: absolute;
    top: 150px;
    left: 20px;
    font-weight: 900;
    font-size: 45px;
    color: white;
  }

  #home p {
    position: absolute;
    top: 220px;
    left: 20px;
    font-size: 16px;
    color: white;
  }

  .scroll-down {
    position: absolute;
    top: 450px;
    left: 50px;
    color: white;
    font-size: 30px;
  }
  .collapse-nav {
    display: inline;
  }
  .collapse {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 92vh;
    width: 200px;
  }
  .collapse-nav-list > a {
    font-weight: normal;
    font-size: 16px;
    color: white;
    margin-left: 20px;
    margin-top: 5px;
    text-decoration: none;
  }
  .left-logo-name {
    display: none;
  }

  .menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #111;
    z-index: 15;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0.5s;
  }
  .menu-wrapper.show-menu {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }
  .menu-wrapper ul.main-menu {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 100%;
    max-width: 1280px;
  }
  .menu-wrapper ul.main-menu li {
    margin-bottom: 22px;
  }
  .menu-wrapper ul.main-menu li:last-child {
    margin-bottom: 0;
  }
  .menu-wrapper ul.main-menu li a {
    font-size: 70px;
    font-family: "Futura Md BT";
    font-weight: 700;
    line-height: normal;
    display: inline-block;
    position: relative;
    transform: translateY(-20px);
    transition: all 0.8s ease;
    opacity: 0;
    visibility: hidden;
  }
  .menu-wrapper ul.main-menu li:nth-child(1) a {
    transition-delay: 0s;
  }
  .menu-wrapper ul.main-menu li:nth-child(2) a {
    transition-delay: 0.1s;
  }
  .menu-wrapper ul.main-menu li:nth-child(3) a {
    transition-delay: 0.2s;
  }
  .menu-wrapper ul.main-menu li:nth-child(4) a {
    transition-delay: 0.3s;
  }
  .menu-wrapper ul.main-menu li:nth-child(5) a {
    transition-delay: 0.4s;
  }
  .menu-wrapper ul.main-menu li:nth-child(6) a {
    transition-delay: 0.5s;
  }
  .menu-wrapper ul.main-menu li:nth-child(7) a {
    transition-delay: 0.6s;
  }

  .menu-wrapper.show-menu ul.main-menu li a {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .menu-wrapper ul.main-menu li a:before {
    content: attr(data-text);
    color: #f43534;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  .menu-wrapper ul.main-menu li a:hover:before {
    width: 100%;
  }

  .menu-wrapper .quick-link {
    max-width: 1280px;
    width: 100%;
    position: absolute;
    right: 50%;
    bottom: 40px;
    transform: translateX(50%);
    display: flex;
    flex-flow: row;
    align-items: center;
    z-index: 1;
    justify-content: flex-end;
    text-align: right;
  }
  .menu-wrapper .quick-link .follow-me span,
  .menu-wrapper .quick-link .email span {
    display: block;
    line-height: normal;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 12px;
  }
  .menu-wrapper .quick-link .email a {
    display: inline-block;
    line-height: normal;
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #f43534;
  }
  .menu-wrapper .quick-link .email a:hover {
    text-decoration: underline;
  }
  .menu-wrapper .quick-link .follow-me {
    margin-left: 50px;
  }
  .menu-wrapper .quick-link ul.social-icon {
    display: flex;
    flex-flow: row;
  }
  .menu-wrapper .quick-link ul.social-icon li {
    margin-right: 5px;
  }
  .menu-wrapper .quick-link ul.social-icon li:last-child {
    margin-right: 0;
  }
  .menu-wrapper .quick-link ul.social-icon a {
    color: #acacac;
  }
  .menu-wrapper .quick-link ul.social-icon a:hover {
    color: #fff;
  }

  .menu-wrapper .quick-link .follow-me,
  .menu-wrapper .quick-link .email {
    transform: translateY(-20px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease;
  }
  .menu-wrapper .quick-link .email {
    transition-delay: 0.4s;
  }
  .menu-wrapper .quick-link .follow-me {
    transition-delay: 0.5s;
  }
  .menu-wrapper.show-menu .quick-link .follow-me,
  .menu-wrapper.show-menu .quick-link .email {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .menu-wrapper .horizontal-img {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.2;
  }

  .geo-location {
  display: flex;
  flex-direction: column;
  border: 0;
  margin: 20px;
}

.geo-location > iframe {
  margin-bottom: 20px;
  height: 300px;
}

.geo-class-img {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.geo-class-img > img {
  height: 350px;
}

#contact {
  padding-left: 5px;
  padding-right: 5px;
}
.name-email {
  display: flex;
  flex-direction: column;
}
.input-style {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
  width: 100%;
}
.input-style:nth-child(1){
  margin-bottom: 50px;
}

.name-email > textarea {
  margin: 0;
  width: 100%;
}
textarea::placeholder {
  padding: 3px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f2f2f2;
}
}
